# Rendered outputs
*.html
*.knit.md
*_cache/
*_files/
_site/

# Ensure _freeze/ is NOT ignored (needed for GitHub Actions)
!_freeze/

# Large result files
results/**/*.rds
results/*.rds

# SLURM logs
logs/

# OS
.DS_Store

# R
.Rhistory
.RData
.Rproj.user/

# PDF outputs
*.pdf

/.quarto/
